:root {
    --primary: #557A95;
    --secondary: #7395AE;
    --pure: #FFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--primary);
    font-family: Roboto;
    color: var(--pure);
}
.container {
    width: 340px;
    height: auto;
    background-color: var(--secondary);
    padding: 1rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    text-align: center;
}
.container div:first-child {
    text-align: center;
    padding: 1rem 0px;
    letter-spacing: 1px;
}
img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding-bottom: 1.2rem;
}
.container .user-info {
    text-align: center;
    padding: 1.2rem 0px;
}
h4 {
    letter-spacing: 2px;
    line-height: 1.4rem;
}
button {
    width: 200px;
    padding: 0.6rem 0.6rem;
    background: var(--primary);
    border: none;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.8s ease;
    color: #d1d1d1;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
    
}
button:hover {
    background: dodgerblue;
}